body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    color: rgb(81, 101, 119);
    overflow-y: auto;
}

.bg_text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.text{
    background-color: rgba(35, 15, 15, 0.652);
    padding: 10px;
    color: aliceblue;
    letter-spacing: 7px;
}

section.section{
    padding: 20px 20px;
    background: linear-gradient(150deg,rgb(38, 37, 37), rgb(43, 40, 40) );
    color: rgb(215, 236, 251);
}

section.section h4{
    text-align: center;
}

section.section p{
    margin-bottom: 40px;
}

.bg1, .bg2, .bg3, .bg4{
    position: relative;
    opacity: 0.80;
    /* fixed value means paraallax effect is on. Otherwise use scroll value */
    background-attachment: fixed;
   
}

.bg1{
    background: url('/images/img1.jpg');
    min-height: 100%;
    background-attachment: fixed;
}

.bg2{
    background: url('/images/img2.jpg');
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.bg3{
    background: url('/images/img3.jpg');
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg4{
    background: url('/images/img4.jpg');
    min-height: 100%;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 568px) {
    .bg1,.bg2,.bg3,.bg4{
        background-attachment: scroll;
    }
}

@media (max-width: 300px) {
    .text{
        background-color: rgba(35, 15, 15, 0.652);
        padding: 10px;
        color: aliceblue;
        letter-spacing: 5px;
        font-size: 15px;
    }
}